.lookbook-dropdown{
  max-width: 320px;
  &:hover{
    .lookbook-dropdown__list{
      display: block;
      &.active{
        display: block;
      }
    }
    .lookbook-dropdown__btn{
      span{
        display: inline-block;
        margin-left: 8px;
      }
    }
  }
  &__btn{
    background-color: #ffffff;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #262626;
    padding: 8px 12px;
    cursor: pointer;
    span{
      display: none;
    }
  }
  &__list{
    background-color: #FFFFFF;
    padding: 8px;
    position: relative;
    bottom: 2px;
    list-style: none;
    display: none;
    &.active{
      display: block;
    }
    li{
      margin-bottom: 8px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
  @include r(767){
    &__list{
      overflow: auto;
      max-height: 175px;
    }
  }
}