.lookbook-dropdown{
  &__btn{
    background-color: #ffffff;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #262626;
    padding: 8px 12px;
    cursor: pointer;
  }
  &__list{
    background-color: #FFFFFF;
    padding: 8px;
    position: absolute;
    bottom: 38px;
    list-style: none;
    &.active{
      display: block;
    }
    li{
      margin-bottom: 8px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}