.lookbook-block {
  font-family: 'GT Eesti Pro';

  &__body{
    overflow: hidden;
    align-items: center;
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid #D1D1D3;
    &--variant-1{
      display: grid;
      grid-template-columns: 41.71641% 22.76119% 33.13432%;//559px 305px 444px
      grid-template-areas: 'img1 img2'
                            'content img3';
      grid-gap: 16px;
      .img1{
        grid-area: img1;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      .img2{
        grid-area: img2;

        grid-column-start: 3;
        grid-column-end: 4;
      }
      .img3{
        grid-area: img3;
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
    &--variant-2{
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      .text{
        flex: 1 0 100%;
        margin-bottom: 60px;
      }
      .img1{
        flex: 1 0 100%;
        width: 100%;
      }
      .img2{
        flex: 1 0 calc(25% - 16px);
        max-width: 25%;
      }
      .img3{
        flex: 1 0 calc(25% - 16px);
        max-width: 25%;
      }
      .img4{
        flex: 1 0 calc(25% - 16px);
        max-width: 25%;
      }
      .img5{
        flex: 1 0 calc(25% - 16px);
        max-width: 25%;
      }
    }
    &--variant-3{
      display: grid;
      grid-template-columns: 48.5074% 1fr 1fr; //650px 329px 329px
      grid-template-areas: 'img1 content content'
                            'img1 img2 img3';
      grid-template-rows: auto 440px;
      grid-gap: 16px;
      .img1{
        grid-area: img1;
      }
      .img2{
        grid-area: img2;
        height: 100%;
        img{
          height: 100%;
        }
      }
      .img3{
        grid-area: img3;
        height: 100%;
        img{
          height: 100%;
        }
      }
    }
  }
  &__content{
    grid-area: content;
    text-align: center;
    width: 100%;
    max-width: 924px;
    margin: 0 auto;
    font-family: $font1;
  }
  &__img{
    img{
      display: block;
      object-fit: cover;
    }
  }

  &__title {
    font-family: $font1;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #262626;
    margin: 0 0 16px;
  }

  &__anons {
    p {
      font-family: $font1;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #262626;
      margin: 0 0 16px;
    }
  }
  &__btn{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    width: 280px;
    border: 1px solid #262626;
    text-align: center;
    background-color: #fff;
    display: inline-block;
    padding: 16px 16px;
  }

  @include r(1023){
    &__body{
      padding-bottom: 40px;
      margin-bottom: 40px;
      &--variant-1{
        grid-template-columns: 46.5% 18% 33.33%;//16.9270% 31.51041%
        grid-template-areas: 'img1 img2'
                            'content img3';
        grid-template-rows: auto 300px;
        grid-gap: 8px;
        .img1{
          grid-area: img1;
          grid-column-start: 1;
          grid-column-end: 3;
        }
        .img2{
          grid-area: img2;

          grid-column-start: 3;
          grid-column-end: 4;
        }
        .img3{
          grid-area: img3;
          grid-column-start: 2;
          grid-column-end: 4;
        }
      }
      &--variant-2{
        gap: 8px;
        .text{
          margin-bottom: 40px;
        }
        .img1{
          flex: 1 0 100%;
        }
        .img2{
          flex: 1 0 calc(25% - 8px);
        }
        .img3{
          flex: 1 0 calc(25% - 8px);
        }
        .img4{
          flex: 1 0 calc(25% - 8px);
        }
        .img5{
          flex: 1 0 calc(25% - 8px);
        }
      }
      &--variant-3{
        grid-template-areas: 'img1 content content'
                            'img1 img2 img3';
        grid-gap: 8px;
        .text{
          margin: 40px 0;
        }
        .img1{
          grid-area: img1;
        }
        .img2{
          grid-area: img2;
        }
        .img3{
          grid-area: img3;
        }
      }
    }
    &__img{
      height: 100%;
      img{
        height: 100%;
        object-fit: cover;
      }
    }
    &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
    }
    &__btn{
      padding: 12px;
    }
  }
  @include r(767){
    &__body{
      &--variant-1{
        grid-template-columns: 1fr;
        grid-template-areas: 'img1' 'img2' 'content' 'img3';
        grid-template-rows: auto;
        grid-gap: 8px;
        .img1{
          grid-area: img1;
          grid-column-start: auto;
          grid-column-end: auto;
        }
        .img2{
          grid-area: img2;

          grid-column-start: auto;
          grid-column-end: auto;
        }
        .img3{
          grid-area: img3;
          grid-column-start: auto;
          grid-column-end: auto;
        }
      }
      &--variant-2{
        gap: 8px;
        .text{
          margin-bottom: 40px;
        }
        .img1{
          flex: 1 0 100%;
        }
        .img2{
          flex: 1 0 calc(50% - 8px);
          max-width: 50%;
        }
        .img3{
          flex: 1 0 calc(50% - 8px);
          max-width: 50%;
        }
        .img4{
          flex: 1 0 calc(50% - 8px);
          max-width: 50%;
        }
        .img5{
          flex: 1 0 calc(50% - 8px);
          max-width: 50%;
        }
      }
      &--variant-3{
        grid-template-columns: 1fr;
        grid-template-areas: 'img1' 'content' 'img2' 'img3';
        grid-template-rows: auto;
      }
    }
    &__img{
      img{
        width: 100%;
      }
    }
  }
}