.other-collection {
  font-family: 'GT Eesti Pro';
  margin-bottom: 60px;
  &__header {
    margin-bottom: 24px;
  }

  &__title {
    font-family: 'GT Eesti Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #262626;
  }
  &__figure{
    margin: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    img{
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  &__content{
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
  }
  &__name{
    font-family: 'GT Eesti Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
  }

  .swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 24px 16px;
  }
  .swiper-slide{
    position: relative;
    flex: 1 0 calc(20%  - 16px);
    max-width:20%;
  }


  @include r(1023){
    margin-bottom: 60px;
    .swiper-wrapper{
      display: flex;
      gap: 8px;
    }
    .swiper-slide{
      flex: 1 0 calc(33.333%  - 8px);
      max-width: 33.333%;
      &:last-child{
        display: none;
      }
    }
  }

  @include r(767){
    margin: 0 -20px 40px 0;
    .swiper-wrapper{
      flex-wrap: nowrap;
      gap: 0;
    }
    .swiper-slide{
      flex: none;
      max-width: 100%;
      &:last-child{
        display: block;
      }
    }
  }
}