@font-face {
	font-family: 'GT Eesti Pro';
	src: local('GT Eesti Pro Display Regular'), local('GT-Eesti-Pro-Display-Regular'),
	url('../fonts/GTEestiProDisplay/GTEestiProDisplay-Regular.woff2') format('woff2'),
	url('../fonts/GTEestiProDisplay/GTEestiProDisplay-Regular.woff') format('woff'),
	url('../fonts/GTEestiProDisplay/GTEestiProDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}



$font1: 'GT Eesti Pro', sans-serif;