@import "mixin";
@import "fonts";
@import "buttons";

.lookbook_page{
  padding: 0 20px;
  max-width: 1380px;
  margin: 0 auto;
  font-family: $font1;
}
.lookbook_page__header{
  text-align: center;
  margin-bottom: 60px;
}
.lookbook_page__title{
  font-family: $font1;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
.lookbook_page__subtitle{
  font-family: $font1;
  font-size: 14px;
  line-height: 20px;
}


@import "componets/lookbook-block";
@import "componets/other-collection";




