@import "mixin";
@import "fonts";
@import "./partials/swiper-bundle";
@import "./partials/remodal";
@import "./partials/remodal-default-theme";

.lb_style{

}

.lookbook_header{
  margin: 0 0 10px;
  img{
    width: 100%;
    display: block;
    object-fit: cover;
  }
}
.lookbook_page{
  padding: 0 20px;
  max-width: 1380px;
  margin: 0 auto;
  font-family: $font1;
}
.lookbook_page__header{
  text-align: center;
  margin-top: 48px;
  margin-bottom: 60px;
}
.lookbook_page__title{
  font-family: $font1;
  text-align: center!important;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
.lookbook_page__subtitle{
  font-family: $font1;
  font-size: 14px;
  line-height: 20px;
  max-width: 880px;
  margin: 0 auto;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}

.remodal-wrapper.remodal-lookbook{
  overflow: hidden;
}
.remodal{
  &.remodal-lookbook{
    padding: 40px;
    margin: 0;
    position: absolute;
    top: 0;
    right: -100%;
    max-width: 510px;
    height: 100%;
    transition: right .3s ease;
    display: block;
    text-align: left;
    font-family: $font1;
    &.remodal-is-opened{
      right: 0;
    }
    .remodal-close{
      left: auto;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      background-image: url("../img/remodal-close.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      &:before{
        display: none;
      }
    }
  }
}

.product-count{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #262626;
  width: 92px;
  height: 36px;
  padding: 8px;
  border: 1px solid #6F6F6F;
  overflow: hidden;
  &__minus,
  &__plus{
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  &__minus{
    background-image: url("../img/Minus.svg");
  }
  &__plus{
    background-image: url("../img/Plus.svg");
  }
  input{
    padding: 0;
    margin: 0;
    height: auto;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #262626;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    vertical-align: middle;
  }
}

@import "componets/lookbook-block";
@import "componets/lookbook-detail";
@import "componets/lookbook-items";
@import "componets/lookbook-dropdown";
@import "componets/lookbook-product-item";
@import "componets/other-collection";
@import "componets/lookbook-modal";




